<div>
    <a href="https://modalgr.com.br">
        <img src="https://github.com/DevelopmentModalGR/TaskManagmentCoreFrontEnd/blob/main/Images/logo.png?raw=true" alt="Logotipo da empresa" width="150" height="50">
    </a>
 </div>
 <div>
    <h1 id="tituloTask">  TAREFAS  </h1>
    <label id="lblTask" for= "text">  O que você procura?  </label>    
    <button id= "btnTask"> Nova tarefa </button>
 </div>

 <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li id="quadros-li"><a> QUADROS </a></li>
            <li id="equipes-li"><a> EQUIPES </a></li>
            <li id="eu-li"><a> EU </a></li>
            <li id="mural-li"><a> MURAL </a></li>
        </ul>
    </div>
</nav>
